" This file contains all settings from my neovim config that are supported by IdeaVim
" See here: https://github.com/JetBrains/ideavim/blob/master/doc/set-commands.md

" ----- set.lua -----
set guicursor=''

set nu
set relativenumber

set nowrap

set hlsearch
set incsearch
set ignorecase

set scrolloff=8

" ----- remap.lua -----
let mapleader=' '

inoremap jk <Esc>

nnoremap <leader>c :nohlsearch<CR>
vnoremap <leader>c :nohlsearch<CR>

nnoremap <leader>i :vsplit<CR>
vnoremap <leader>i :vsplit<CR>
nnoremap <leader>u :split<CR>
vnoremap <leader>u :split<CR>

sethandler <C-d> a:vim
sethandler <C-u> a:vim
nnoremap <C-d> <C-d>zz
vnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
vnoremap <C-u> <C-u>zz

sethandler <C-j> a:vim
sethandler <C-k> a:vim
nnoremap <C-h> <c-w>h
nnoremap <C-l> <c-w>l
nnoremap <C-j> <c-w>j
nnoremap <C-k> <c-w>k

nnoremap <leader>y \"+y
vnoremap <leader>y \"+y
nnoremap <leader>p \"+p
vnoremap <leader>p \"+p

" ----- conform.lua -----
nnoremap <leader>l :action ReformatCode<CR>
vnoremap <leader>l :action ReformatCode<CR>

" ----- git.lua -----
nnoremap <leader>g :action ActivateVersionControlToolWindow<CR>

" ----- init.lua -----
nnoremap <leader>gd :action GotoDeclaration<CR>
nnoremap K :action QuickJavaDoc<CR>
nnoremap <leader>lrn :action RenameElement<CR>
nnoremap <leader>lor :action FindUsages<CR>
nnoremap <leader>lca :action ShowIntentionActions<CR>
nnoremap <leader>lof :action ShowErrorDescription<CR>

" ----- lsp.lua -----
inoremap <C-leader> :action CodeCompletion<CR>

" ----- lualine.lua -----
nnoremap <M-1> :action GoToTab1<CR>
vnoremap <M-1> :action GoToTab1<CR>
nnoremap <M-2> :action GoToTab2<CR>
vnoremap <M-2> :action GoToTab2<CR>
nnoremap <M-3> :action GoToTab3<CR>
vnoremap <M-3> :action GoToTab3<CR>
nnoremap <M-4> :action GoToTab4<CR>
vnoremap <M-4> :action GoToTab4<CR>
nnoremap <M-5> :action GoToTab5<CR>
vnoremap <M-5> :action GoToTab5<CR>
nnoremap <M-6> :action GoToTab6<CR>
vnoremap <M-6> :action GoToTab6<CR>
nnoremap <M-7> :action GoToTab7<CR>
vnoremap <M-7> :action GoToTab7<CR>
nnoremap <M-8> :action GoToTab8<CR>
vnoremap <M-8> :action GoToTab8<CR>
nnoremap <M-9> :action GoToTab9<CR>
vnoremap <M-9> :action GoToTab9<CR>

" ----- telescope.lua -----
nnoremap <leader>pf :action GotoFile<CR>
nnoremap <leader>ps :action FindInPath<CR>
sethandler <C-n> a:vim
sethandler <C-m> a:vim
nnoremap <C-n> :action NextTab<CR>
nnoremap <C-m> :action PreviousTab<CR>

" ----- tree.lua -----
set NERDTree
nnoremap <leader>pv :NERDTreeToggle<CR>
